@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #2e2e38;
}

.container{
    max-width: 920px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.header{
    display:flex;
    align-items:center;
    justify-content:center;
    color:#cccccc;
    border-bottom:1px soild #5c5c66;
    height:45px;
}

.header h3{
    font-size:17px;
    font-weight:500;
}

.info{
    display:flex;
    align-items:center;
    justify-content:center;
    flex:20;
}

.info a {
    color: rgb(175, 242, 255);
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.info a:hover{
    color: rgb(221, 221, 0);
}


.input-container{
    background-color: #2e2e38;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #5c5c66;
    position: sticky;
    bottom: 0;
}

#user-input {
    background-color: #3f3f4c;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 8px;
    flex: 9;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
}

#user-input::placeholder{
    color: #8e8e8e;
    font-weight: 400;
}

#send-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(55, 71, 212) ;
    color: black;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.3s ease;
}    

#send-button:hover{
    background-color:rgb(55, 0, 221);
}

.chat-container{
    flex:1;
}

.chat-box{
    display:flex;
    align-items:center;
    padding:10px 15px;
}

#chat-log{
    margin-bottom:10px;
    font-size:14px;
    line-height:1.6;
}

#chat-log i{
    margin-right:10px;
    color: #ffffff;
    border-radius:5px;
}

.bot, .user{
    display:flex;
    align-items:flex-start;
    color:#eeeeee;
    width:100%;
    padding:15px 7px 15px 10px;
    border-radius:6px;
}

.bot{
    background-color:#414153;
}

#chat-log #user-icon i{
    background-color:#31a688;
    padding:10px 11px;
}

#chat-log #bot-icon i{
    background-color: #9a6ecc;
    padding:10px 11px;
}